<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow-sm">

    <div class="container">

        <a class="navbar-brand fw-bold fs-3" href="{{ url_for('home') }}">
            <span class="logo-red">Cine</span><span class="logo-white">Nova</span>
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <form
    class="d-flex me-3"
    action="{{ url_for('search') }}"
    method="GET">

    <input
        class="form-control me-2"
        type="search"
        name="q"
        placeholder="Search movies..."
        aria-label="Search">

    <button
        class="btn btn-danger"
        type="submit">

        🔍

    </button>

</form>

            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Movies
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Web Series
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Reviews
                    </a>
                </li>

                {% if session.get('user_id') %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('watchlist') }}">
                            ❤️ Watchlist
                        </a>
                    </li>

                    <li class="nav-item">
                        <span class="nav-link">
                            👋 {{ session['username'] }}
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('login') }}">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-danger ms-2"
                           href="{{ url_for('register') }}">
                            Register
                        </a>
                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>